
body {
  background-color: #fffb12;
}
  
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.search {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}


.search .search-input,
.search .search-button {
  border: 0;
  padding: 1em;
}

.search .search-input {
  width: 100%;
}

.search .search-button {
  background-color: #2b75bb;
  color: #fff;
  cursor: pointer;
}


.pokemon-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  color: white; 
}


.pokemon-container .pokemon-info {
  width: 100%;
  background-color: #163f5e;
  flex: 2;
}

.pokemon-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em;
}


.pokemon-info .name,
.pokemon-info .skill,
.pokemon-info .weight,
.pokemon-info .height  {
  width: 100%;
  padding: .5em .2em;
  font-size: 1.7em;
}

.pokemon-info .name {
  font-size: 2.5em;
  text-align: center;
  color: #FFC312; 
  font-weight: bold;
  text-transform: capitalize;
}
.pokemon-info .number{
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}
.pokemon-info .skill{
  text-align: justify;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pokemon-info .weight,
.pokemon-info .height {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
